<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Load Inter font from Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="wrapper">
      {{ content }}
    </div>
    <div class="image-container">
      <img src="/assets/images/me.png" alt="You're hovering over me">
    </div>
  </div>
</body>
</html>
